{"openapi": "3.0.1", "info": {"title": "edX", "description": "A plugin for incorporating information, advice, and guidance on academic topics into ChatGPT conversations using the edX course library and course content.  The edX course catalog is extensive and covers a wide range of popular subject areas including career-oriented topics, online learning experiences, open courses, professional certificate programs, executive education, boot camps, degree programs, and graduate degree programs.", "version": "2.1"}, "servers": [{"url": "https://chatgpt-plugin.2u.com"}], "paths": {"/courses": {"get": {"operationId": "searchCourses", "summary": "Returns a list of relevant short edX courses that teach specific skills.", "parameters": [{"name": "query", "in": "query", "description": "Use this field to submit up to ten keywords for identifying the most relevant edX courses to the conversation context.  Please include as many specific keywords as possible to identify the most pertinent edX courses for the conversation.", "required": true, "schema": {"type": "string", "maxLength": 512}}], "responses": {"200": {"description": "A JSON array of relevant edX course objects matching the current conversation context and containing detailed metadata including titles, descriptions, schools, skills, image URLs, video URLs, and course URLs.", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/Course"}}}}}}}}, "/programs": {"get": {"operationId": "searchPrograms", "summary": "Returns a list of professional development programs that are offered by edX from top employers and universities that are specifically designed to build today's in-demand career skills.", "parameters": [{"name": "query", "in": "query", "description": "Use this field to submit up to ten keywords for identifying the most relevant edX profession development programs to the conversation context.  Please include as many specific keywords as possible to identify the most pertinent edX programs for the conversation.", "required": true, "schema": {"type": "string", "maxLength": 512}}], "responses": {"200": {"description": "A JSON array of relevant edX programs matching the current conversation context and containing detailed metadata including titles, descriptions, schools, skills, image URLs, video URLs, and program URLs.", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/Program"}}}}}}}}, "/degrees": {"get": {"operationId": "searchDegrees", "summary": "Returns a list of online academic degree programs offered by edX from the best colleges, unversities, and educational institutions in the world.", "parameters": [{"name": "query", "in": "query", "description": "Use this field to submit up to ten keywords for identifying the most relevant edX academic degrees to the conversation context.  Please include as many specific keywords as possible to identify the most pertinent edX academic degrees for the conversation.", "required": true, "schema": {"type": "string", "maxLength": 512}}], "responses": {"200": {"description": "A JSON array of relevant edX degrees matching the current conversation context and containing detailed metadata including titles, descriptions, schools, skills, image URLs, video URLs, and degree URLs.", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/Degree"}}}}}}}}, "/bootcamps": {"get": {"operationId": "searchBootcamps", "summary": "Returns a list of intensive, hands-on, project-based training professional boot camps offered by edX that are designed to quickly provide learners with the necessary skills for starting a new career or switching careers.", "parameters": [{"name": "query", "in": "query", "description": "Use this field to submit up to ten keywords for identifying the most relevant edX boot camps to the conversation context.  Please include as many specific keywords as possible to identify the most pertinent edX boot camps for the conversation.", "required": true, "schema": {"type": "string", "maxLength": 512}}], "responses": {"200": {"description": "A JSON array of relevant edX boot camps matching the current conversation context and containing detailed metadata including titles, descriptions, schools, skills, image URLs, video URLs, and boot camp URLs.", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/Bootcamp"}}}}}}}}, "/executive-education": {"get": {"operationId": "searchExecutiveEducation", "summary": "Returns a list of Executive Education courses offered by edX and designed to assist data-focused business leaders in addressing organizational challenges and help professionals adapt or advance their careers.", "parameters": [{"name": "query", "in": "query", "description": "Use this field to submit up to ten keywords for identifying the most relevant edX executive education courses to the conversation context.  Please include as many specific keywords as possible to identify the most pertinent edX executive education courses for the conversation.", "required": true, "schema": {"type": "string", "maxLength": 512}}], "responses": {"200": {"description": "A JSON array of relevant edX executive education courses matching the current conversation context and containing detailed metadata including titles, descriptions, schools, skills, image URLs, video URLs, and course URLs.", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/ExecutiveEducation"}}}}}}}}, "/lessons": {"get": {"operationId": "searchLessons", "summary": "Gets a list of educational lessons from relevant edX courses.", "parameters": [{"name": "query", "in": "query", "description": "Use this field to search for educational lessons from edX courses with keywords.", "required": true, "schema": {"type": "string", "maxLength": 512}}], "responses": {"200": {"description": "A JSON array of relevant edX lesson objects containing detailed metadata including the title, URL, and lesson content.", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/Lesson"}}}}}}}}, "/videos": {"get": {"operationId": "searchVideos", "summary": "Gets a list of educational videos from relevant edX courses.", "parameters": [{"name": "query", "in": "query", "description": "Use this field to search for educational videos from relevant edX courses with keywords.", "required": true, "schema": {"type": "string", "maxLength": 512}}], "responses": {"200": {"description": "A JSON array of relevant edX course video objects containing detailed metadata including the title, URL, and transcript text.", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/Video"}}}}}}}}, "/quizzes": {"get": {"operationId": "searchQuizzes", "summary": "Gets a list of quizzes from relevant edX courses that can be used to help users deepen their understanding of related topics.", "parameters": [{"name": "query", "in": "query", "description": "Use this field to search for quizzes from inside edX courses using keywords.", "required": true, "schema": {"type": "string", "maxLength": 512}}], "responses": {"200": {"description": "A list of quizzes and activities pulled directly from edX courses", "content": {"application/json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/Quiz"}}}}}}}}}, "components": {"schemas": {"Course": {"type": "object", "properties": {"course_id": {"type": "string", "description": "The alphanumeric human-readable unique identifier for the edX course."}, "course_run_id": {"type": "string", "description": "The alphanumeric human-readable unique identifier for the current instance of the edX course."}, "course_title": {"type": "string", "description": "The official published title of the edX course."}, "course_publisher": {"type": "string", "description": "The college, university, institution, or corporation which published the edX course."}, "short_description": {"type": "string", "description": "A brief overview of the edX course which summarizes the main topics and key concepts covered by the material."}, "full_description": {"type": "string", "description": "A detailed description of the content, topics, skills, subjects, professors, assignments, projects, and learning experiences presented in the edX course."}, "course_url": {"type": "string", "description": "The URL to the course detail page at edX.org, where potential students can learn more about this offering and enroll."}, "introductory_video_url": {"type": "string", "description": "The URL of the introductory video for the edX course.  The video is a brief synopsis which describes the experience for potential students, including subjects, topics, skills, and key concepts."}, "skills_covered": {"type": "array", "items": {"type": "string"}, "description": "A taxonomical list of relevant job-oriented skills covered in the edX course, which learners can potentially acquire by enrolling."}}}, "Program": {"type": "object", "properties": {"program_id": {"type": "string", "description": "The alphanumeric human-readable unique identifier for the edX program."}, "program_title": {"type": "string", "description": "The official published title of the edX program."}, "program_publisher": {"type": "string", "description": "The college, university, institution, or corporation which published the edX program."}, "short_description": {"type": "string", "description": "A brief overview of the edX program which summarizes the main topics and key concepts covered by the material."}, "full_description": {"type": "string", "description": "A detailed description of the content, topics, skills, subjects, professors, assignments, projects, and learning experiences presented in the edX program."}, "program_url": {"type": "string", "description": "The URL to the program detail page at edX.org, where potential students can learn more about this offering and enroll."}, "introductory_video_url": {"type": "string", "description": "The URL of the introductory video for the edX program.  The video is a brief synopsis which describes the experience for potential students, including subjects, topics, skills, and key concepts."}, "skills_covered": {"type": "array", "items": {"type": "string"}, "description": "A taxonomical list of relevant job-oriented skills covered in the edX program, program, executive education, boot camp, or degree, which learners can potentially acquire by enrolling."}}}, "ExecutiveEducation": {"type": "object", "properties": {"executive_education_id": {"type": "string", "description": "The alphanumeric human-readable unique identifier for the edX Executive Education offering."}, "executive_education_title": {"type": "string", "description": "The official published title of the edX Executive Education offering."}, "executive_education_publisher": {"type": "string", "description": "The college, university, institution, or corporation which published the edX Executive Education offering."}, "short_description": {"type": "string", "description": "A brief overview of the edX Executive Education offering which summarizes the main topics and key concepts covered by the material."}, "full_description": {"type": "string", "description": "A detailed description of the content, topics, skills, subjects, professors, assignments, projects, and learning experiences presented in the edX Executive Education offering."}, "executive_education_url": {"type": "string", "description": "The URL to the Executive Education offering detail page at edX.org, where potential students can learn more about this offering and enroll."}, "introductory_video_url": {"type": "string", "description": "The URL of the introductory video for the edX Executive Education offering.  The video is a brief synopsis which describes the experience for potential students, including subjects, topics, skills, and key concepts."}, "skills_covered": {"type": "array", "items": {"type": "string"}, "description": "A taxonomical list of relevant job-oriented skills covered in the edX Executive Education offering, which learners can potentially acquire by enrolling."}}}, "Bootcamp": {"type": "object", "properties": {"bootcamp_id": {"type": "string", "description": "The alphanumeric human-readable unique identifier for the edX Boot Camp."}, "bootcamp_title": {"type": "string", "description": "The official published title of the edX Boot Camp."}, "bootcamp_publisher": {"type": "string", "description": "The college, university, institution, or corporation which published the edX Boot Camp."}, "short_description": {"type": "string", "description": "A brief overview of the edX Boot Camp which summarizes the main topics and key concepts covered by the material."}, "full_description": {"type": "string", "description": "A detailed description of the content, topics, skills, subjects, professors, assignments, projects, and learning experiences presented in the edX Boot Camp."}, "bootcamp_url": {"type": "string", "description": "The URL to the Boot Camp detail page at edX.org, where potential students can learn more about this offering and enroll."}, "skills_covered": {"type": "array", "items": {"type": "string"}, "description": "A taxonomical list of relevant job-oriented skills covered in the edX Boot Camp, which learners can potentially acquire by enrolling."}}}, "Degree": {"type": "object", "properties": {"degree_id": {"type": "string", "description": "The alphanumeric human-readable unique identifier for the edX Degree."}, "degree_title": {"type": "string", "description": "The official published title of the edX Degree."}, "degree_publisher": {"type": "string", "description": "The college, university, institution, or corporation which published the edX Degree."}, "short_description": {"type": "string", "description": "A brief overview of the edX Degree which summarizes the main topics and key concepts covered by the material."}, "full_description": {"type": "string", "description": "A detailed description of the content, topics, skills, subjects, professors, assignments, projects, and learning experiences presented in the edX Degree."}, "degree_url": {"type": "string", "description": "The URL to the Degree detail page at edX.org, where potential students can learn more about this offering and enroll."}, "skills_covered": {"type": "array", "items": {"type": "string"}, "description": "A taxonomical list of relevant job-oriented skills covered in the edX Degree, which learners can potentially acquire by enrolling."}}}, "Video": {"type": "object", "properties": {"course_key": {"type": "string", "description": "A unique identifier of the course in which the video is found."}, "course_title": {"type": "string", "description": "The title of the course in which the video is found."}, "course_publisher": {"type": "string", "description": "The university or corporation who created the course in which the video is found."}, "video_url": {"type": "string", "format": "uri", "description": "The URL to access the video file."}, "video_title": {"type": "string", "description": "The title of the video for the edX course."}}}, "Lesson": {"type": "object", "properties": {"course_key": {"type": "string", "description": "The unique identifier of the course in which the lesson is found."}, "course_title": {"type": "string", "description": "The title of the course in which the lesson is found."}, "course_publisher": {"type": "string", "description": "The university or corporation who created the course in which the lesson is found."}, "course_url": {"type": "string", "format": "uri", "description": "The URL of a page that describes the course in which the lesson is found.and allows anyone to enroll in it for free"}, "lesson_title": {"type": "string", "description": "The title of the lesson or activity"}, "lesson_url": {"type": "string", "format": "uri", "description": "The URL for the lesson's web page at edx.org"}, "lesson_body": {"type": "string", "description": "The full text of the lesson or activity"}}}, "Quiz": {"type": "object", "properties": {"course_key": {"type": "string", "description": "The unique identifier of the course in which the quiz is found."}, "course_title": {"type": "string", "description": "The title of the course in which the quiz is found."}, "course_publisher": {"type": "string", "description": "The university or corporation who created the course in which the quiz is found."}, "course_url": {"type": "string", "format": "uri", "description": "The URL of a page that describes the course in which the quiz is found and allows anyone to enroll in it for free."}, "quiz_title": {"type": "string", "description": "The title of the quiz"}, "quiz_url": {"type": "string", "format": "uri", "description": "The URL for the quiz web page at edX.org."}, "quiz_description": {"type": "string", "description": "The full text of the quiz, which is typically a CAPA problem presented in Open Learning XML format."}}}}}}