{
  "openapi": "3.0.1",
  "info": {
    "title": "MixerBox FreecableTV",
    "description": "The plugin allows users to find the TV shows and movies they want to watch, and all sources are free.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.freetv-app.com"
    }
  ],
  "paths": {
    "/services?funcs=GetShowsForChatGPT&mobile=0": {
      "get": {
        "operationId": "getShows",
        "summary": "Get the latest or trending TV shows for a specific country.",
        "description": "Get a variety of shows based on user-provided parameters, featuring recommended popular content or categorized content.",
        "parameters": [
          {
            "in": "query",
            "name": "country",
            "schema": {
              "type": "string",
              "enum": [
                "tw",
                "us",
                "jp"
              ]
            },
            "description": "Specify the country of shows by country code. Currently supported countries are: tw (Taiwan), us (United States) and jp (Japanese)"
          },
          {
            "in": "query",
            "name": "category",
            "schema": {
              "type": "string",
              "enum": [
                "latest",
                "trending",
                "drama",
                "horror",
                "sci-fi",
                "thriller",
                "kids",
                "action",
                "comedy",
                "western",
                "animation",
                "crime",
                "documentary",
                "sports",
                "reality",
                "variety"
              ]
            },
            "description": "The category of the show. Specify \"all\" if no specific category is needed. Notice that each country support different set of categories. For country 'tw', only 'latest' and 'trending' is supported. For country 'jp', supported categories are: 'trending', 'latest', 'drama', 'kids'. 'animation', 'documentary', 'sports', 'variety', 'others'. For country 'us', supported categories are: 'latest', 'trending', 'drama', 'horror', 'sci-fi', 'thriller', 'kids', 'action', 'comedy', 'western'."
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer"
            },
            "description": "Parameter for pagination. The default value is 0."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer"
            },
            "description": "Parameter for pagination. The default value is 20."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShowsItemResponse"
                }
              }
            }
          }
        }
      }
    },
    "/services?funcs=GetMoviesForChatGPT&mobile=0": {
      "get": {
        "operationId": "getMovies",
        "summary": "Get the latest or trending movies for a specific country.",
        "description": "Get a variety of movies based on user-provided parameters, featuring recommended popular content or content categorized by scenarios.",
        "parameters": [
          {
            "in": "query",
            "name": "country",
            "schema": {
              "type": "string",
              "enum": [
                "us"
              ]
            },
            "description": "Specify the country of movies by country code. Currently only support country: us (United States)"
          },
          {
            "in": "query",
            "name": "category",
            "schema": {
              "type": "string",
              "enum": [
                "latest",
                "trending",
                "drama",
                "horror",
                "sci-fi",
                "thriller",
                "kids",
                "action",
                "comedy",
                "western"
              ]
            },
            "description": "The category of the movie. Use \"latest\" or \"trending\" if no specific category is needed"
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer"
            },
            "description": "Parameter for pagination. The default value is 0."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer"
            },
            "description": "Parameter for pagination. The default value is 20."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MoviesItemResponse"
                }
              }
            }
          }
        }
      }
    },
    "/services?funcs=GetChannelsForChatGPT&mobile=0": {
      "get": {
        "operationId": "getChannels",
        "summary": "Get specific type of channels, including news channels, sports channels and live channels.",
        "description": "Users can access specific channel content other than shows and movies.",
        "parameters": [
          {
            "in": "query",
            "name": "country",
            "schema": {
              "type": "string",
              "enum": [
                "tw",
                "us",
                "jp"
              ]
            },
            "description": "Specify the country of channels by country code. Currently supported countries are: tw (Taiwan), us (United States) and jp (Japanese)"
          },
          {
            "in": "query",
            "name": "category",
            "schema": {
              "type": "string",
              "enum": [
                "news",
                "sports",
                "live",
                "politics",
                "business",
                "review"
              ]
            },
            "description": "The category of the channels. Each country support different set of categories. Here is the list for reference. For country 'us' and 'jp', supported categories are: 'news', 'live', 'sports'. For country 'tw', supported categories are: 'news', 'sports', 'live', 'politics', 'business', 'review'"
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer"
            },
            "description": "Parameter for pagination. The default value is 0."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer"
            },
            "description": "Parameter for pagination. The default value is 20."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChannelsItemResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ChannelsItemResponse": {
        "required": [
          "GetChannelsForChatGPT"
        ],
        "type": "object",
        "properties": {
          "getWeatherInfo": {
            "type": "object",
            "properties": {
              "items": {
                "type": "array",
                "title": "Result Of Channel Item List",
                "description": "Result of channel item list.",
                "items": {
                  "$ref": "#/components/schemas/ChannelItem"
                }
              },
              "rules": {
                "type": "array",
                "title": "The array of rules which recommend gpt to follow.",
                "description": "The array of rules which recommend gpt to follow.",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "ShowsItemResponse": {
        "required": [
          "GetShowsForChatGPT"
        ],
        "type": "object",
        "properties": {
          "getWeatherInfo": {
            "type": "object",
            "properties": {
              "items": {
                "type": "array",
                "title": "Result Of Show Item List",
                "description": "Result of show item list",
                "items": {
                  "$ref": "#/components/schemas/ChannelItem"
                }
              },
              "rules": {
                "type": "array",
                "title": "The array of rules which recommend gpt to follow.",
                "description": "The array of rules which recommend gpt to follow.",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "MoviesItemResponse": {
        "required": [
          "GetMoviesForChatGPT"
        ],
        "type": "object",
        "properties": {
          "getWeatherInfo": {
            "type": "object",
            "properties": {
              "items": {
                "type": "array",
                "title": "Result Of Movie Item List",
                "description": "Result of movie item list.",
                "items": {
                  "$ref": "#/components/schemas/ChannelItem"
                }
              },
              "rules": {
                "type": "array",
                "title": "The array of rules which recommend gpt to follow.",
                "description": "The array of rules which recommend gpt to follow.",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "ChannelItem": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "title": "Channel Title"
          },
          "subTitle": {
            "type": "string",
            "title": "Channel SubTitle"
          },
          "ref": {
            "type": "string",
            "title": "Channel Reference",
            "description": "The ref of a channel, could be a random string or a valid http url."
          },
          "thumbnail": {
            "type": "string",
            "title": "Channel Thumbnail"
          },
          "description": {
            "type": "string",
            "title": "Channel Description"
          },
          "videos": {
            "type": "array",
            "title": "Videos of Channel",
            "description": "The inner videos of the channel. For example, 'Show' type channel could have many episodes as series, and these episodes will be put in this field. Notice that sometimes the array could be empty, in this case one can provide 'Channel Reference' to lead the user to the website for watching content.",
            "items": {
              "$ref": "#/components/schemas/VideoItem"
            }
          }
        }
      },
      "VideoItem": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "title": "Video Title"
          },
          "subTitle": {
            "type": "string",
            "title": "Video SubTitle"
          },
          "ref": {
            "type": "string",
            "title": "Video Reference",
            "description": "The url that link to the video."
          },
          "thumbnail": {
            "type": "string",
            "title": "Video Thumbnail"
          }
        }
      }
    }
  }
}